/* Color Pallete
#2B2D42 - dark blue
#EDF2F4 - blue/white
#8D99AE - light blue
#EF233C - red

*/
/*
Global styles
-----------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {    
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    color: #EF233C;
}

a:hover{
    text-decoration: none;
}
h1, h2 {
    font-family: 'Caveat', serif;
    /* font-weight: 400;*/
}
h1{
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

.content-wrap{
    max-width: 950px;
    margin:0 auto;
    padding: 50px;
    overflow: auto;
}

.col-narrow{
    width: 30%;
    float: left;
    min-height: 140px;
}
.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 140px;
    
}
.profile-img {    
    border-radius: 50%;
    
}

/*
Header and Footer
-----------------------------*/
header, footer {
    background:#2B2D42; 
    color: #8D99AE;
}
/* header */
header h1, header h2{
    color: #EDF2F4;
    margin: 0;
   /* font-family: 'Caveat', cursive;*/
}
/* footer */
footer {
    text-align: center;
}

#copyright{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
   
}
.contact-info a{
    padding: 10px;
    display: inline-block;
}

/*
skills
-----------------------------*/
.skill{    
    background: #eceff1;
}

/*
Work Experience
-----------------------------*/
.work {
    background: #cfd8dc;
}
/*
Projects
-----------------------------*/
.project{
    background: #b0bec5;
}


/*
Education
-----------------------------*/
.education {
    background: #90a4ae;
}